// VARIABLES [add custom CSS]

// COMPONENTS [button, card, navbar, etc..]
.logo {
  height: 150px;
  width: 150px;
  background: $info;
  box-sizing: border-box;
  padding: 1.5rem;
  color: red;
}

.menu {
  
}

// button

// card

// badge

// FEATURE [scene, pages, etc..]
// navbar
