// THEME COLORS
$primary: #326dee !default;
$secondary: #1ac888 !default;
$error: #d32752 !default;
$info: #f6c31c !default;

// COLORS PALETTE

$black-100: #000000; // --black 100%

$black-200: #333333; // --gray-base 20%   
$black-250: #404040; // --gray-base 25%   
$black-300: #191919; // --gray-base 30%   
$black-350: #2c2c2c; // --gray-base 35%
$black-400: #666666; // --gray-base 40%
$black-500: #8a8a8a; // --gray-base 50%
$black-600: #999999; // --gray-base 60%
$black-800: #cccccc; // --gray-base 80%

$white: #ffffff;
$yellow: #f6c31c;

// Custom Colors
$body-bg: $black-300;

// TYPOGRAPHY
h1,
h2,
h3 {
  font-weight: 700;
}
// h4,
// h5,
// h6 {

// }

p {
  margin-top: 0;
}

// UTILITIES [margin, padding, opacity, etc..]
// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}
