@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
h1,
h2,
h3 {
  font-weight: 700;
}

p {
  margin-top: 0;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

header {
  background: #d32752;
}

body {
  background: #326dee;
}

.logo {
  height: 150px;
  width: 150px;
  background: #f6c31c;
  box-sizing: border-box;
  padding: 1.5rem;
  color: red;
}

* {
  color: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
}